/* box model 통일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 기본 margin 제거 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* body 기본 설정 */
body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
  color: #333;
  background-color: transparent;
}

/* 리스트 스타일 제거 */
ol,
ul {
  list-style: none;
}

/* a 태그 초기화 */
a {
  text-decoration: none;
  color: inherit;
}

/* 이미지 */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* 버튼 */
button {
  border: 0;
  background: none;
  cursor: pointer;
  font: inherit;
}

/* input, textarea */
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: transparent;
}

/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* textarea resize 제한 */
textarea {
  resize: none;
}

/* iOS 버튼 스타일 제거 */
button,
input,
select,
textarea {
  -webkit-appearance: none;
}
