.container {
  background-color: #29B2DD;
}
.header-info {
  font-size: 14px;
}
.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  .cw-img {
    width: 140px;
    height: 140px;
  }
  .cw-temp {
    margin-top: 6px;
    font-size: 60px;
    font-weight: 700;
  }
  .cw-range {
    display: flex;
    gap: 10px;
    line-height: 20px;
    margin-top: 8px;
    font-size: 16px;
  }
}

.hourly-weather,
.weekly-weather {
  position: relative;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgba(238, 238, 238, 0.2);
  overflow-x: auto;
  .sec-title {
    padding: 16px;
    font-size: 14px;
  }
}

.hourly-weather {
  .hourly-list {
    display: inline-flex;
    column-gap: 10px;
    padding: 0 16px 20px;
    position: relative;
    .hourly-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .icon {
        width: 30px;
        height: 30px;
      }
    }
  }
}