.container {
  background-color: #29B2DD;
}
.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  .cw-temp {
    line-height: 75px;
    margin-top: 6px;
    font-size: 64px;
    font-weight: 700;
  }
  .cw-range {
    line-height: 20px;
    font-size: 18px;
  }
}

.sec-title {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}

.today,
.week {
  position: relative;
  height: 200px;
  margin-top: 20px;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #104084;
    opacity: 0.2;
  }  
}

.cw-ani {
  width: 280px;
  height: 180px;
  background-color: #fff;
}